
.dayContainer {
    min-width: 290px;
    width: 25%;
    height: 148px;
    padding: 16px;
    background-color: #EFF3F5;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.dateHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.monthYear{
    display: flex;
    gap: 24px;
}
.timeContainer{
    min-width: 290px;
    width: 25%;
    height: 148px;
    padding: 16px;
    background-color: #EFF3F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:16px;
}
.timeHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.timePeriod{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    outline: 0;
}
.inputName {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
}
.timeBody{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.timeBodySlice{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.time{
    width:14% ;
    text-align: center;
    background-color: white;
    padding: 4px 0px;
    border:1px solid #C2C1C1 ;
    border-radius: 8px;
    cursor: pointer;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;

}
.selectedTime{
    width:14% ;
    text-align: center;
    background-color: white;
    border:1px solid #C2C1C1 ;
    border-radius: 8px;
    padding: 4px 0px;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;
    background-color:#FFC629 ;
    border:1px solid #FFC629 ;
}