.formHeader{
    width: 45%;
    min-width: 500px;

}
.headerText{
    width: 100%;
font-family: 'Titan One';
font-size: 64px;
font-weight: 400;
line-height: 96px;
letter-spacing: 0em;
text-align: left;
}
.infoText{
height: 90px;
white-space: nowrap;
width: 100%;
font-family: Montserrat;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
background-image: url(../../images/textBackground.jpg);
background-repeat: no-repeat;
background-size: 100%;
}