.headerCont{
    width: 100vw;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    gap: 70%;
}
.logo{
    height:64px;
}