.headerCont{
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 60px ;
    position: fixed;
    z-index: 5;
    top: 0;
    height: 64px;
    font-family: "ArtaruaMuihan-Regular", sans-serif !important;

}

.language{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}
.logo{
    height: 90%;
}

@media (max-width:450px) {
    .headerCont{
        padding: 3px 20px;
    }
    .logo {
        height: 50%;
    }
}