.headerCont{
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px ;
    position: fixed;
    z-index: 5;
    top: 0;
}

.language{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}
.logo{
    height:64px;
}